/**********/
/* Global */
/**********/

$font-size: 16px;

/*********/
/* PATHS */
/*********/

// Fonts path
$fonts-path:  "../fonts/";

// Images path
$images-path:  "../images/";

/*********/
/* Fonts */
/*********/

// Roboto
$roboto: 'Roboto';

/********/
/* Grid */
/********/

$main-sm-columns: 12;
$sidebar-sm-columns: 4;

/**********/
/* Colors */
/**********/

/* Brand */
$brand-primary: #96C408;

/* Social */
$blue-fb: #445F9F;
$blue-tw: #50ABF1;
