{# Head part #}
{% block head %}
	{% include 'header.twig' %}
{% endblock %}

	{# Nav part #}
	{% block nav %}
		{% include 'nav.twig' %}
	{% endblock %}

	<main role="main">

		{# Content part #}
		{% block content %}
			Sorry, no content
		{% endblock %}

	</main>

{# Footer part #}
{% block footer %}
	{% include 'footer.twig' %}
{% endblock %}
