
    <footer role="footer">

      <div class="bottom-left">
        {{ "now"|date('Y') }} © WP Boilerplate - {{ __('All rights reserved', 'ab') }}
      </div>

    </footer>

    {{ function('wp_footer') }}

  </body>
</html>
